.graph-box {
    /*display: block;*/
    /*position: relative;*/
    /*width: var(--box-width);*/
    height: var(--box-height);
    font-size: 24px;
    text-align: center;
    line-height: var(--box-height);
    background-color: var(--ghosty-grin);
    border: var(--border-box);
    z-index: 2;
}